body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Header */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #457b9d;
}

header img {
    height: 30px;
}

header ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: #f1faee;
    font-size: 18px;

}

/* Hero */
.hero {
    background-color: #a8dadc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
    padding-bottom: 75px;
    gap: 20px;
}

.text-button {
    width: 400px;
    color: #1d3557;
}

.text-button h2 {
    font-size: 40px;
}

.text-button p {
    font-size: 18px;
}

.text-button button {
    background-color: #e63946;
    border: none;
    border-radius: 20px;
    padding: 10px;
    color: white;
    font-size: 16px;
}

.hero-image img {
    width: 400px;
    height: auto;
    border: 3px solid #e63946
}

/* Infomation */

.information {
    background-color: #1d3557;
    padding: 2px 50px 50px 2px;
}

h3 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    color: #f1faee;
    letter-spacing: 2px;
}

.info-images {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.image-text {
    width: 230px;
    text-align: center;
}

.image-text img {
    width: 225px;
    height: auto;
    border: 3px solid #a8dadc;
}

.image-text p {
    color: #f1faee;
    font-size: 16px;
}