body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Header */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #457b9d;
}

header img {
    height: 30px;
}

header ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: #f1faee;
    font-size: 18px;

}

/* Hero */
.hero {
    background-color: #a8dadc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
    padding-bottom: 75px;
    gap: 20px;
}

.text-button {
    width: 400px;
    color: #1d3557;
}


.hero-image img {
    width: 400px;
    height: auto;
    border: 3px solid #e63946
}